#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Editar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=53) ;
  filter: alpha(opacity=53) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Guardar_cambios {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Mis_Datos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Nombre_completo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Estado {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-contrasena INPUT {
  font-family: Arial;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-contrasena_perfil {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-perfil_completado {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-porcentaje {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Escuela {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Item-row_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Picture_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Alert_select_subsistema {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Alert_puedeVerLibros {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-miPerfil_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-miPerfil_text {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-calendar_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Calendario_text {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-suscripciones_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Suscripciones_text {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Compras {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Icon_librero {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Librero {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Label_33 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Icons_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-68f5a729-4642-4ed0-97cd-f7493392659e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}