#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 #s-Label_33 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 #s-Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 #s-Icons_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a17ddb75-2b01-409d-be87-74965fa9c8b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}