#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-FONDO_VERDE {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-D {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-L {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Mi {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-M {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-J {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Vi {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-S {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_diciembre_2015 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-S_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Vi_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-J_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Mi_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-M_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-L_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-D_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-miPerfil_icon {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-miPerfil_text {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-calendar_icon {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Calendario_text {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-suscripciones_icon {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Suscripciones_text {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Compras {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Icon_librero {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Librero {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Label_33 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Icons_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4d531a7-d2e3-4b87-9521-1853931bd29e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}