#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Horizontal-softkeys {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-input {
  position: absolute;
  top: 173px;
  left: 26px;
  width: 308px;
  height: 32px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 303px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 308px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 308px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #shapewrapper-s-Line_4 {
  display: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Text_1 {
  position: absolute;
  top: 137px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-input_1 {
  position: absolute;
  top: 264px;
  left: 26px;
  width: 308px;
  height: 32px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 303px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 308px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 308px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #shapewrapper-s-Line_6 {
  display: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Text_2 {
  position: absolute;
  top: 228px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Flat-button-light {
  position: absolute;
  top: 342px;
  left: 55px;
  width: 246px;
  height: 42px;
  background-color: #1D9EFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-ulises {
  position: absolute;
  top: 167px;
  left: 26px;
  width: 308px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-ulises .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-ulises input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-bookmart {
  position: absolute;
  top: 252px;
  left: 26px;
  width: 308px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-bookmart .valign {
  vertical-align: middle;
  line-height: 18.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-bookmart input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  text-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Contactlist-header_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Contact-bar-color_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 42px;
  background-color: #005893;
  background-image: none;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_33 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_38 {
  position: absolute;
  top: 35px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_38 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_3 {
  position: absolute;
  top: 35px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Statusbar_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Panel_6 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Icons_7 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_39 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_39 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Paragraph_1 {
  position: absolute;
  top: 31px;
  left: 107px;
  width: 145px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_12 {
  position: absolute;
  top: 35px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Alert_error {
  position: absolute;
  top: 96px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Alert_error .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Alert_error span {
  color: #FC363B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 #s-Alert_error span#rtr-s-Alert_error_0 {
  color: #FC363B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aafd4bf7-8e43-4b7d-bb0e-18b704761193 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}