#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Title_intrudiction_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_39 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter: alpha(opacity=40)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_15 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter: alpha(opacity=40)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_16 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-A_de_A_1_button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Formula_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Dark-background_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Comenzar_Activ_button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Button_Cancelar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Button_Aceptar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-fondo_cuadro_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Comenzar_Activ_button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Resp_A_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Resp_A_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Resp_A_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Resp_A_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Title_intrudiction {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter: alpha(opacity=40)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_5 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter: alpha(opacity=40)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-A_de_A_1_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Formula {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Dark-background_Expandido {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Tabla_Bloque1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Dark-background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Button_expandir_tabla {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Comenzar_Activ_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-fondo_cuadro {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Resp_A_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Resp_A_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Resp_A_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Resp_A_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Button_Cancelar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Button_Aceptar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Continuar_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Title_intrudiction_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-A_de_A_1_button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-A_de_A_1_button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-miPerfil_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-miPerfil_text {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-calendar_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Calendario_text {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-suscripciones_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Suscripciones_text {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Compras {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Icon_librero {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Librero {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Fondo_menuSuperior {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Salir_de_activi8_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Bar_menu_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_Libreta {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_libro_from_Bloque1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_libro_from_Bloque2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_libro_from_libreta {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_librero {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_libreta_from_Tarea8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_Bloque1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_bloque1_from_Actividad_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Indice_temas_icon_open {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Indice_temas_icon_close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Libreta_icon_from_libro {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Libreta_icon_from_Bloque1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Libreta_icon_from_Bloque2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_pregunta_barra_azul {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Salir_de_activi10_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-BackTo_bloque1_from_tabla {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Icons_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Nuevo_apunte_text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Editar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-ACEPTAR_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-CANCELAR_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-add_recursos_icon_Open {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.7071067811865477,M12=0.7071067811865475,M21=-0.7071067811865475,M22=-0.7071067811865477);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.7071067811865477,M12=0.7071067811865475,M21=-0.7071067811865475,M22=-0.7071067811865477);
  margin-left: -7px;
  margin-top: -7px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-add_recursos_icon_Close {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.7071067811865477,M12=0.7071067811865475,M21=-0.7071067811865475,M22=-0.7071067811865477);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.7071067811865477,M12=0.7071067811865475,M21=-0.7071067811865475,M22=-0.7071067811865477);
  margin-left: -7px;
  margin-top: -7px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-ACEPTAR {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-CANCELAR {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-add_recursos_Close_icon {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.7071067811865477,M12=0.7071067811865475,M21=-0.7071067811865475,M22=-0.7071067811865477);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.7071067811865477,M12=0.7071067811865475,M21=-0.7071067811865475,M22=-0.7071067811865477);
  margin-left: -7px;
  margin-top: -7px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-add_recursos_Open_icon {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.7071067811865477,M12=0.7071067811865475,M21=-0.7071067811865475,M22=-0.7071067811865477);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-0.7071067811865477,M12=0.7071067811865475,M21=-0.7071067811865475,M22=-0.7071067811865477);
  margin-left: -7px;
  margin-top: -7px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-fondo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-galeria_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-fondo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-galeria_icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-RM_video {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-RM_camara {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-RM_galeria {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Eliminar_img_galeria {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92) ;
  filter: alpha(opacity=92) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 #s-Alert_eliminar_img_galeria_aceptar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ebedfa07-d01f-485d-b305-6a46101e81e2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}